{% extends "wireframe.html" %}
{% block title %}Home{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Fragile Families and Child Wellbeing Study</h2>
            <p class="lead">Variable metadata and documentation</p>
            <p>To view metadata and descriptive statistics for particular variables of interest, click <em>Browse variables</em>.</p>
            <!-- <p>To download variable metadata as CSV files, click <em>Download metadata</em>.</p> -->
            <p>To learn more about the Fragile Families and Child Wellbeing Study, click <em>About FFCWS</em>.</p>
        </div>
    </div>
</div>
{% endblock %}
