{% extends "ffmetadata.html" %}
{% block title %}Home{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="page-header"><h2>Fragile Families and Child Wellbeing Study</h2></div>
            <p class="lead">Variable metadata and documentation</p>
            <p>To search variables and view associated metadata, click <em>Browse variables</em>.</p>
            <p>To download metadata for all variables as a CSV file, click <em>Download metadata</em>.</p>
            <p>If you have any comments or ideas for how to improve the metadata or this app, click <em>Feedback</em>.</p>
            <p>To learn more about the Fragile Families and Child Wellbeing Study, click <em>About FFCWS</em>.</p>
        </div>
    </div>
</div>
{% endblock %}
