{% extends "ffmetadata.html" %}
{% block title %}Metadata{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Download metadata</h2>
            <ul>
                <li><a href="#">Question metadata</a>: Question text, data type, descriptive statistics.</li>
                <li><a href="#">Questionnaire structures</a>: Information on respondent type, wave, and questions asked in each questionnaire.</li>
                <li><a href="#">Answer values</a>: Semantic codes for question response values.</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
