{% extends "ffmetadata.html" %}

{% macro selected(val, var) -%}
    {% if constraints %}
        {% if val in constraints[var] %}
            checked
        {% endif %}
    {% endif %}
{%- endmacro %}

{% macro isin(var) -%}
    {% if constraints %}
        {% if var in constraints.keys() %}
            in
        {% endif %}
    {% endif %}
{%- endmacro %}

{% block title %}Variables{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Search variables</h2>
                <p></p>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <form action="{{ url_for('search')}}" method="POST">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="search-term" class="form-control" name="variable-search" placeholder="Search for..." {% if search_query %} value="{{ search_query }}" {% endif %}>
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-default">Search &#187;</button>
                            </span>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" href="#collapse_filter">
                                    Filter
                                </a>
                            </h4>
                        </div>
                        <div id="collapse_filter" class="panel-collapse collapse in" role="tabpanel">
                            <div class="panel-body">
                                {% for filt, desc in filterlabs.items() %}
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <a role="button" data-toggle="collapse" href="#collapse_{{filt}}">
                                            {{desc}}
                                        </a>
                                    </div>
                                    <div id="collapse_{{filt}}" class="panel-collapse collapse {{isin(filt)}}" role="tabpanel">
                                        <div class="panel-body">
                                            {% for val, lab in filtermeta[filt].items() %}
                                            <div class="checkbox"><label><input type="checkbox" name="{{filt}}" value="{{val}}" autocomplete="off" {{selected(val, filt)}}> {{lab}}</label></div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                </form>


            </div>
            <div class="col-md-8">

                {% if results %}

                <!-- Display search results -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">Search results ({{results|length}})</h4>
                    </div>
                    <div class="table-responsive" style="padding: 1%">
                        <table id="results" class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Variable</th>
                                    <th>Description</th>
                                    <th>Wave</th>
                                    <th>Respondent</th>
                                    <th>Source</th>
                                    <th>Scope</th>
                                    <th>Type</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for rvar in results %}
                                <tr>
                                    <td><a href="{{ url_for('var_page', varname = rvar.name) }}">{{rvar.name}}</a></td>
                                    <td>{{rvar.label}}</td>
                                    <td><span class="label label-success">{{rvar.wave}}</span></td>
                                    <td><span class="label label-success">{{rvar.respondent}}</span></td>
                                    <td><span class="label label-success">{{rvar.data_source}}</span></td>
                                    <td><span class="label label-success">{{rvar.scope}}</span></td>
                                    <td><span class="label label-success">{{rvar.data_type}}</span></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- Manipulate results (reset, copy, export)-->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">Options</h4>
                    </div>
                    <div class="panel-body">
                        <a href="{{ url_for('search') }}" role="button" class="btn btn-danger"><span class="oi" data-glyph="trash"></span> Start over </a>
                        <!-- <a href="{{ url_for('search') }}" role="button" class="btn btn-success"><span class="oi" data-glyph="clipboard"></span> Copy variable names</a> -->
                        <!-- <a href="{{ url_for('search') }}" role="button" class="btn btn-success"><span class="oi" data-glyph="data-transfer-download"></span> Download as CSV</a> -->
                    </div>
                </div>

                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block foot %}
    <script>
        $(document).ready(function(){
            $('#results').DataTable( {
                "searching": false,
                "lengthChange": false
            });
        });
    </script>
{% endblock %}
