{% extends "ffmetadata.html" %}

{% macro selected(val, var) -%}
    {% if constraints %}
        {% if val in request.form[var] %}
            checked
        {% endif %}
    {% endif %}
{%- endmacro %}

{% block title %}Variables{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Search variables</h2>
                <p></p>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <form action="{{ url_for('search')}}" method="POST">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="search-term" class="form-control" name="variable-search" placeholder="Search for..." {% if search_query %} value="{{ search_query }}" {% endif %}>
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-default">Search &#187;</button>
                            </span>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" href="#collapse_filter">
                                    Filter
                                </a>
                            </h4>
                        </div>
                        <div id="collapse_filter" class="panel-collapse collapse in" role="tabpanel">
                            <div class="panel-body">
                                <div class="panel panel-default">
                                    <div class="panel-heading">Wave</div>
                                    <div class="panel-body">
                                        <div class="checkbox"><label><input type="checkbox" name="wave" value="1" autocomplete="off" {{selected('1', 'wave')}}> Baseline</label></div>
                                        <div class="checkbox"><label><input type="checkbox" name="wave" value="2" autocomplete="off" {{selected('2', 'wave')}}> Year 1</label></div>
                                        <div class="checkbox"><label><input type="checkbox" name="wave" value="3" autocomplete="off" {{selected('3', 'wave')}}> Year 3</label></div>
                                        <div class="checkbox"><label><input type="checkbox" name="wave" value="4" autocomplete="off" {{selected('4', 'wave')}}> Year 5</label></div>
                                        <div class="checkbox"><label><input type="checkbox" name="wave" value="5" autocomplete="off" {{selected('5', 'wave')}}> Year 9</label></div>
                                        <div class="checkbox"><label><input type="checkbox" name="wave" value="6" autocomplete="off" {{selected('6', 'wave')}}> Year 15</label></div>
                                    </div>
                                </div>

                                <h5>Respondent</h5>
                                <div class="btn-group-vertical btn-group-sm" role="group" data-toggle="buttons">
                                    <div class="checkbox"><label><input type="checkbox" name="respondent" value="k" autocomplete="off" {{selected('k', 'respondent')}}> Child</label></div>
                                    <div class="checkbox"><label><input type="checkbox" name="respondent" value="f" autocomplete="off" {{selected('f', 'respondent')}}> Father</label></div>
                                    <div class="checkbox"><label><input type="checkbox" name="respondent" value="m" autocomplete="off" {{selected('m', 'respondent')}}> Mother</label></div>
                                    <div class="checkbox"><label><input type="checkbox" name="respondent" value="q" autocomplete="off" {{selected('q', 'respondent')}}> Couple</label></div>
                                    <div class="checkbox"><label><input type="checkbox" name="respondent" value="t" autocomplete="off" {{selected('t', 'respondent')}}> Teacher</label></div>
                                    <a class="btn btn-sm" data-toggle="collapse" href="#collapseRespondent">Show all</a>
                                    <div class="collapse" id="collapseRespondent">
                                        <div class="checkbox"><label><input type="checkbox" name="respondent" value="n" autocomplete="off" {{selected('n', 'respondent')}}> Non-parental primary caregiver</label></div>
                                        <div class="checkbox"><label><input type="checkbox" name="respondent" value="d" autocomplete="off" {{selected('d', 'respondent')}}> Child care center (survey)</label></div>
                                        <div class="checkbox"><label><input type="checkbox" name="respondent" value="e" autocomplete="off" {{selected('e', 'respondent')}}> Child care center (observation)</label></div>
                                        <div class="checkbox"><label><input type="checkbox" name="respondent" value="h" autocomplete="off" {{selected('h', 'respondent')}}> In-home (survey)</label></div>
                                        <div class="checkbox"><label><input type="checkbox" name="respondent" value="o" autocomplete="off" {{selected('o', 'respondent')}}> In-home (observation)</label></div>
                                        <div class="checkbox"><label><input type="checkbox" name="respondent" value="r" autocomplete="off" {{selected('r', 'respondent')}}> Family care (survey)</label></div>
                                        <div class="checkbox"><label><input type="checkbox" name="respondent" value="s" autocomplete="off" {{selected('s', 'respondent')}}> Family care (observation)</label></div>
                                        <div class="checkbox"><label><input type="checkbox" name="respondent" value="u" autocomplete="off" {{selected('e', 'respondent')}}> Post child and family care observation</label></div>
                                    </div>
                                </div>
                                <br/><br/>

                                <h5>Source</h5>
                                <div class="btn-group btn-group-sm" role="group" data-toggle="buttons">
                                    <div class="checkbox"><label><input type="checkbox" name="data_source" value="questionnaire" autocomplete="off" {{selected('questionnaire', 'data_source')}}> Questionnaire</label></div>
                                    <div class="checkbox"><label><input type="checkbox" name="data_source" value="constructed" autocomplete="off" {{selected('constructed', 'data_source')}}> Constructed</label></div>
                                    <div class="checkbox"><label><input type="checkbox" name="data_source" value="weight" autocomplete="off" {{selected('weight', 'data_source')}}> Survey weight</label></div>
                                    <div class="checkbox"><label><input type="checkbox" name="data_source" value="idnum" autocomplete="off" {{selected('idnum', 'data_source')}}> ID number</label></div>
                                </div>
                                <br/><br/>

                                <h5>City scope</h5>
                                <div class="btn-group-vertical btn-group-sm" role="group" data-toggle="buttons">
                                    <div class="checkbox"><label><input type="checkbox" name="scope" value="2" autocomplete="off" {{selected('2', 'scope')}}> 2 cities</label></div>
                                    <div class="checkbox"><label><input type="checkbox" name="scope" value="18" autocomplete="off" {{selected('18', 'scope')}}> 18 cities</label></div>
                                    <div class="checkbox"><label><input type="checkbox" name="scope" value="19" autocomplete="off" {{selected('19', 'scope')}}> 19 cities</label></div>
                                    <div class="checkbox"><label><input type="checkbox" name="scope" value="20" autocomplete="off" {{selected('20', 'scope')}}> 20 cities</label></div>
                                </div>
                                <br/><br/>

                                <h5>Type</h5>
                                <div class="btn-group btn-group-sm" role="group" data-toggle="buttons">
                                    <div class="checkbox"><label><input type="checkbox" name="data_type" value="bin" autocomplete="off" {{selected('bin', 'data_type')}}> Binary</label></div>
                                    <div class="checkbox"><label><input type="checkbox" name="data_type" value="uc" autocomplete="off" {{selected('uc', 'data_type')}}> Unordered categorical</label></div>
                                    <div class="checkbox"><label><input type="checkbox" name="data_type" value="oc" autocomplete="off" {{selected('oc', 'data_type')}}> Ordered categorical</label></div>
                                    <div class="checkbox"><label><input type="checkbox" name="data_type" value="cont" autocomplete="off" {{selected('cont', 'data_type')}}> Continuous</label></div>
                                    <div class="checkbox"><label><input type="checkbox" name="data_type" value="string" autocomplete="off" {{selected('string', 'data_type')}}>  String</label></div>
                                </div>
                                <br/><br/>

                            </div>
                        </div>
                    </div>

                </form>


            </div>
            <div class="col-md-8">

                {% if results %}

                <!-- Display search results -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">Search results ({{results|length}})</h4>
                    </div>
                    <div class="table-responsive" style="padding: 1%">
                        <table id="results" class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Variable</th>
                                    <th>Description</th>
                                    <th>Wave</th>
                                    <th>Respondent</th>
                                    <th>Source</th>
                                    <th>Scope</th>
                                    <th>Type</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for rvar in results %}
                                <tr>
                                    <td><a href="{{ url_for('var_page', varname = rvar.name) }}">{{rvar.name}}</a></td>
                                    <td>{{rvar.label}}</td>
                                    <td><span class="label label-success">{{rvar.wave}}</span></td>
                                    <td><span class="label label-success">{{rvar.respondent}}</span></td>
                                    <td><span class="label label-success">{{rvar.data_source}}</span></td>
                                    <td><span class="label label-success">{{rvar.scope}}</span></td>
                                    <td><span class="label label-success">{{rvar.data_type}}</span></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- Manipulate results (reset, copy, export)-->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">Options</h4>
                    </div>
                    <div class="panel-body">
                        <a href="{{ url_for('search') }}" role="button" class="btn btn-danger"><span class="oi" data-glyph="trash"></span> Start over </a>
                        <!-- <a href="{{ url_for('search') }}" role="button" class="btn btn-success"><span class="oi" data-glyph="clipboard"></span> Copy variable names</a> -->
                        <!-- <a href="{{ url_for('search') }}" role="button" class="btn btn-success"><span class="oi" data-glyph="data-transfer-download"></span> Download as CSV</a> -->
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block foot %}
    <script>
        $(document).ready(function(){
            $('#results').DataTable( {
                "searching": false,
                "lengthChange": false
            });
        });
    </script>
{% endblock %}
