{% extends "ffmetadata.html" %}

{% macro selected(val, var) -%}
    {% if constraints %}
        {% if val in request.form[var] %}
            btn-success
        {% endif %}
    {% endif %}
{%- endmacro %}

{% block title %}Variables{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Search variables</h2>
                <p></p>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <form action="{{ url_for('search')}}" method="POST">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="search-term" class="form-control" name="variable-search" placeholder="Search for..." {% if search_query %} value="{{ search_query }}" {% endif %}>
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-default">Search &#187;</button>
                            </span>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" href="#collapse_filter">
                                    Filter
                                </a>
                            </h4>
                        </div>
                        <div id="collapse_filter" class="panel-collapse collapse in" role="tabpanel">
                            <div class="panel-body">
                                <h5>Wave</h5>
                                <div class="btn-group" role="group" data-toggle="buttons">
                                    <label class="btn btn-default {{selected('1', 'wave')}}"><input type="checkbox" name="wave" value="1" autocomplete="off">Baseline</label>
                                    <label class="btn btn-default {{selected('2', 'wave')}}"><input type="checkbox" name="wave" value="2" autocomplete="off">Year 1</label>
                                    <label class="btn btn-default {{selected('3', 'wave')}}"><input type="checkbox" name="wave" value="3" autocomplete="off">Year 3</label>
                                    <label class="btn btn-default {{selected('4', 'wave')}}"><input type="checkbox" name="wave" value="4" autocomplete="off">Year 5</label>
                                    <label class="btn btn-default {{selected('5', 'wave')}}"><input type="checkbox" name="wave" value="5" autocomplete="off">Year 9</label>
                                    <label class="btn btn-default {{selected('6', 'wave')}}"><input type="checkbox" name="wave" value="6" autocomplete="off">Year 15</label>
                                </div>
                                <br/><br/>

                                <h5>Respondent</h5>
                                <div class="btn-group" role="group" data-toggle="buttons">
                                    <label class="btn btn-default {{selected('k', 'respondent')}}"><input type="checkbox" name="respondent" value="k" autocomplete="off">Child</label>
                                    <label class="btn btn-default {{selected('f', 'respondent')}}"><input type="checkbox" name="respondent" value="f" autocomplete="off">Father</label>
                                    <label class="btn btn-default {{selected('m', 'respondent')}}"><input type="checkbox" name="respondent" value="m" autocomplete="off">Mother</label>
                                    <label class="btn btn-default {{selected('q', 'respondent')}}"><input type="checkbox" name="respondent" value="q" autocomplete="off">Couple</label>
                                    <label class="btn btn-default {{selected('t', 'respondent')}}"><input type="checkbox" name="respondent" value="t" autocomplete="off">Teacher</label>
                                    <label class="btn btn-default {{selected('n', 'respondent')}}"><input type="checkbox" name="respondent" value="n" autocomplete="off">Non-parental primary caregiver</label>
                                    <label class="btn btn-default {{selected('d', 'respondent')}}"><input type="checkbox" name="respondent" value="d" autocomplete="off">Child care center (survey)</label>
                                    <label class="btn btn-default {{selected('e', 'respondent')}}"><input type="checkbox" name="respondent" value="e" autocomplete="off">Child care center (observation)</label>
                                    <label class="btn btn-default {{selected('h', 'respondent')}}"><input type="checkbox" name="respondent" value="h" autocomplete="off">In-home (survey)</label>
                                    <label class="btn btn-default {{selected('o', 'respondent')}}"><input type="checkbox" name="respondent" value="o" autocomplete="off">In-home (observation)</label>
                                    <label class="btn btn-default {{selected('r', 'respondent')}}"><input type="checkbox" name="respondent" value="r" autocomplete="off">Family care (survey)</label>
                                    <label class="btn btn-default {{selected('s', 'respondent')}}"><input type="checkbox" name="respondent" value="s" autocomplete="off">Family care (observation)</label>
                                    <label class="btn btn-default {{selected('u', 'respondent')}}"><input type="checkbox" name="respondent" value="u" autocomplete="off">Post child and family care observation</label>
                                </div>
                                <br/><br/>

                                <h5>Source</h5>
                                <div class="btn-group" role="group" data-toggle="buttons">
                                    <label class="btn btn-default {{selected('questionnaire', 'data_source')}}"><input type="checkbox" name="data_source" value="questionnaire" autocomplete="off">Questionnaire</label>
                                    <label class="btn btn-default {{selected('constructed', 'data_source')}}"><input type="checkbox" name="data_source" value="constructed" autocomplete="off">Constructed</label>
                                    <label class="btn btn-default {{selected('weight', 'data_source')}}"><input type="checkbox" name="data_source" value="weight" autocomplete="off">Survey weight</label>
                                    <label class="btn btn-default {{selected('idnum', 'data_source')}}"><input type="checkbox" name="data_source" value="idnum" autocomplete="off">ID number</label>
                                </div>
                                <br/><br/>

                                <h5>City scope</h5>
                                <div class="btn-group" role="group" data-toggle="buttons">
                                    <label class="btn btn-default {{selected('2', 'scope')}}"><input type="checkbox" name="scope" value="2" autocomplete="off">2 cities</label>
                                    <label class="btn btn-default {{selected('18', 'scope')}}"><input type="checkbox" name="scope" value="18" autocomplete="off">18 cities</label>
                                    <label class="btn btn-default {{selected('19', 'scope')}}"><input type="checkbox" name="scope" value="19" autocomplete="off">19 cities</label>
                                    <label class="btn btn-default {{selected('20', 'scope')}}"><input type="checkbox" name="scope" value="20" autocomplete="off">20 cities</label>
                                </div>
                                <br/><br/>

                                <h5>Type</h5>
                                <div class="btn-group" role="group" data-toggle="buttons">
                                    <label class="btn btn-default {{selected('bin', 'data_type')}}"><input type="checkbox" name="data_type" value="bin" autocomplete="off">Binary</label>
                                    <label class="btn btn-default {{selected('uc', 'data_type')}}"><input type="checkbox" name="data_type" value="uc" autocomplete="off">Unordered categorical</label>
                                    <label class="btn btn-default {{selected('oc', 'data_type')}}"><input type="checkbox" name="data_type" value="oc" autocomplete="off">Ordered categorical</label>
                                    <label class="btn btn-default {{selected('cont', 'data_type')}}"><input type="checkbox" name="data_type" value="cont" autocomplete="off">Continuous</label>
                                    <label class="btn btn-default {{selected('string', 'data_type')}}"><input type="checkbox" name="data_type" value="string" autocomplete="off">String</label>
                                </div>
                                <br/><br/>

                            </div>
                        </div>
                    </div>

                </form>


            </div>
            <div class="col-md-8">
                {% if results %}

                <!-- Display search results -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">Search results ({{results|length}})</h4>
                    </div>
                    <div class="table-responsive" style="padding: 1%">
                        <table id="results" class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Variable</th>
                                    <th>Description</th>
                                    <th>Wave</th>
                                    <th>Respondent</th>
                                    <th>Source</th>
                                    <th>Scope</th>
                                    <th>Type</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for rvar in results %}
                                <tr>
                                    <td><a href="{{ url_for('var_page', new_name = rvar.new_name) }}">{{rvar.new_name}}</a></td>
                                    <td>{{rvar.varlab}}</td>
                                    <td><span class="label label-success">{{rvar.wave}}</span></td>
                                    <td><span class="label label-success">{{rvar.respondent}}</span></td>
                                    <td><span class="label label-success">{{rvar.data_source}}</span></td>
                                    <td><span class="label label-success">{{rvar.scope}}</span></td>
                                    <td><span class="label label-success">{{rvar.data_type}}</span></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- Manipulate results (reset, copy)-->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">Options</h4>
                    </div>
                    <div class="panel-body">
                        <a href="{{ url_for('search') }}" role="button" class="btn btn-danger"><span class="oi" data-glyph="trash"></span> Start over </a>
                        <!-- <a href="{{ url_for('search') }}" role="button" class="btn btn-success"><span class="oi" data-glyph="clipboard"></span> Copy variable names</a> -->
                        <!-- <a href="{{ url_for('search') }}" role="button" class="btn btn-success"><span class="oi" data-glyph="data-transfer-download"></span> Download as CSV</a> -->
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block foot %}
    <script>
        $(document).ready(function(){
            $('#results').DataTable( {
                "searching": false,
                "lengthChange": false
            });
        });
    </script>
{% endblock %}
