{% extends "web/ffmetadata.html" %}
{% block title %}Feedback{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="page-header"><h2>Fragile Families Metadata Feedback</h2></div>
            <p>Thank you for using the FFCWS Metadata Explorer! We're eager to hear your comments on what's working well for you, as well as your ideas for what we can improve in future iterations of the metadata.</p>
            <p>Please send feedback to <a href="mailto:ffdata@princeton.edu">ffdata@princeton.edu</a>.</p>
        </div>
    </div>
</div>
{% endblock %}
