{% extends "web/ffmetadata.html" %}
{% block title %}Home{% endblock %}
{% block body %}

<div class="container">
    <div class="row" style="margin-bottom: 30px;">
        <div class="col-md-12">
            <div class="page-header"><h2>Welcome to the FFCWS Metadata Explorer!</h2></div>
            <p>
                This website houses the metadata for over 25,000 variables from the Fragile Families Public Data and
                Restricted-Use Contract Data. Please note that not all variables displayed on this site are available
                through the OPR Archive. Access to data and files with the '(RES)' prefix in the 'survey' field or
                'restricted' in the 'source' field require a restricted-use contract data license; See
                <a href="https://ffcws.princeton.edu/restricted">this link</a> for more information.
            </p>
            <p class="lead">What you can do on this website</p>
            <table class="table">
                <tr>
                    <td><span class="fas fa-search"></span> <a href="{{ url_for('web.search') }}">Browse Variables</a></td>
                    <td>
                        <p>
                            This resource is great for getting started with exploring the FFCWS variables.<br/>
                            Sort  FFCWS variables by topic, wave, respondent, focal person, scales, survey, source,
                            and/or variable type.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td><span class="fas fa-cogs"></span> <a href="{{ url_for('web.search2') }}">Advanced Search</a></td>
                    <td>
                        <p>
                            Perform more detailed queries and/or text searches in the FFCWS metadata.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td><span class="fas fa-cloud-download-alt"></span> <a href="{{ url_for('web.metadata') }}">Download Full Metadata</a></td>
                    <td>
                        <p>
                            Download the full metadata as a CSV file.
                        </p>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="row" style="margin-bottom: 30px;">
        <div class="col-md-12">
            <p class="lead">Metadata Guide</p>
            {% include "web/metadata_field_table.html" %}
        </div>
    </div>

    <div class="row well" style="margin-bottom: 30px;">
        <div class="col-md-12">
        <p class="lead">Other API resources to help you use the metadata</p>
            <table class="table">
                <tr>
                    <td><a href="https://github.com/fragilefamilieschallenge/metadata_app/blob/master/README.md" target="_blank">FFCWS Metadata API</a></td>
                    <td>Instructions on how to directly access the Web API without using the website interface.</td>
                </tr>
                <tr>
                    <td><a href="https://cran.r-project.org/web/packages/ffmetadata/index.html" target="_blank">R Package</a></td>
                    <td>This package allows R users to retrieve metadata within R via the FFCWS Metadata API. Users can select, filter,
                    and search metadata for relevant variables. <a href="https://fragilefamilieschallenge.github.io/ffmetadata/articles/APIUsage.html">
                    More information</a> is available on github.</td>
                </tr>
                <tr>
                    <td><a href="https://github.com/fragilefamilieschallenge/ffmetadata-py" target="_blank">Python Package</a></td>
                    <td>This Python package provides convenient wrrappers to interface with the FFCWS Metadata API in Python.
                    By downloading and importing the single ff.py module, users can query the metadata variables.</td>
                </tr>
            </table>
        </div>
    </div>
</div>

{% endblock %}
