{% extends "web/ffmetadata.html" %}

{% block title %}Advanced Variable Search{% endblock %}

{% block head %}
<link href="{{ url_for('static', filename='query-builder.default.css') }}" rel="stylesheet" />
<script src="{{ url_for('static', filename='query-builder.standalone.js') }}"></script>
<script src="{{ url_for('static', filename='qb2api.js') }}"></script>
<link href="{{ url_for('static', filename='bootstrap-select.min.css') }}" rel="stylesheet" />
<script src="{{ url_for('static', filename='bootstrap-select.min.js') }}"></script>

<script>
$(document).ready(function() {
    var table = $('#datatable').DataTable({
        "dom": '<"top"fl>irt<"bottom"flp><"clear">',
        "processing": true,
        "ajax": {
            "url": "{{ url_for('apiv2.search_variable') }}?details=1&q={\"filters\":[]}",
            "dataSrc": "",
            "cache": true
        },
        "columns": [
            {"data": "name",
                "render": function(data, type, row) {
                    return "<a class='btn btn-primary' href='{{ url_for('web.var_page') }}/"+data+"' target='_blank'>"+data+"</a>";
                }
            },
            {"data": "label"},
            {"data": "topics"},
            {"data": "subtopics"},
            {"data": "survey"},
            {"data": "wave"},
            {"data": "data_type"},
            {"data": "data_source"},
            {"data": "focal_person"},
            {"data": "respondent"}
        ]
    });

    $('#builder').queryBuilder({
        filters: [
            {
                id: 'name',
                label: 'Name',
                type: 'string',
                operators: ['equal', 'not_equal', 'begins_with', 'ends_with', 'contains']
            },
            {
                id: 'old_name',
                label: 'Old Name',
                type: 'string',
                operators: ['equal', 'not_equal', 'begins_with', 'ends_with', 'contains']
            },
            {
                id: 'label',
                label: 'label',
                type: 'string',
                operators: ['contains']
            },
            {
                id: 'data_type',
                label: 'Data Type',
                type: 'string',
                input: 'select',
                values: {'ID number': 'ID number', 'Binary': 'Binary',  'Continuous': 'Continuous', 'Ordered categorical': 'Ordered categorical', 'Unordered categorical': 'Unordered categorical'},
                operators: ['equal', 'not_equal', 'in', 'not_in'],
                multiple: true,
                plugin: 'selectpicker'
            },
            {
                id: 'topic1',
                label: 'Topic 1',
                type: 'string',
                input: 'select',
                values: {'Attitudes and expectations': 'Attitudes and expectations', 'Childcare': 'Childcare', 'Cognitive and behavioral development': 'Cognitive and behavioral development', 'Demographics': 'Demographics', 'Education and school': 'Education and school', 'Employment': 'Employment', 'Family and social ties':'Family and social ties', 'Finances':'Finances', 'Health and health behavior':'Health and health behavior', 'Housing and neighborhood':'Housing and neighborhood', 'Legal system': 'Legal system', 'Paradata and weights': 'Paradata and weights', 'Parenting':'Parenting', 'Romantic relationships': 'Romantic relationships'},
                operators: ['equal', 'not_equal', 'in', 'not_in'],
                multiple: true,
                plugin: 'selectpicker'
            },
            {
                id: 'topic2',
                label: 'Topic 2',
                type: 'string',
                input: 'select',
                values: {'Attitudes and expectations': 'Attitudes and expectations', 'Childcare': 'Childcare', 'Cognitive and behavioral development': 'Cognitive and behavioral development', 'Demographics': 'Demographics', 'Education and school': 'Education and school', 'Employment': 'Employment', 'Family and social ties':'Family and social ties', 'Finances':'Finances', 'Health and health behavior':'Health and health behavior', 'Housing and neighborhood':'Housing and neighborhood', 'Legal system': 'Legal system', 'Paradata and weights': 'Paradata and weights', 'Parenting':'Parenting', 'Romantic relationships': 'Romantic relationships'},
                operators: ['equal', 'not_equal', 'in', 'not_in'],
                multiple: true,
                plugin: 'selectpicker'
            },
            {
                id: 'subtopic1',
                label: 'Sub-Topic 1',
                type: 'string',
                operators: ['equal', 'not_equal', 'contains']
            },
            {
                id: 'subtopic2',
                label: 'Sub-Topic 2',
                type: 'string',
                operators: ['equal', 'not_equal', 'contains']
            },
            {
                id: 'scope',
                label: 'Scope',
                type: 'integer',
                operators: ['equal', 'not_equal', 'less', 'less_or_equal', 'greater', 'greater_or_equal', 'in', 'not_in'],
                input: 'select',
                values: {2: 2, 15: 15, 16: 16, 18: 18, 20: 20},
                multiple: true,
                plugin: 'selectpicker'
            },
            {
                id: 'warning',
                label: 'Warning',
                type: 'integer',
                operators: ['equal', 'not_equal', 'less', 'less_or_equal', 'greater', 'greater_or_equal', 'in', 'not_in'],
                input: 'select',
                values: {0: 0, 1: 1, 2: 2, 3: 3, 4: 4, 5: 5, 6: 6},
                multiple: true,
                plugin: 'selectpicker'
            },
            {
                id: 'focal_person',
                label: 'Focal Person',
                type: 'string',
                input: 'select',
                values: {'Focal Child': 'Focal Child', 'Mother': 'Mother', 'Father': 'Father', 'Primary Caregiver': 'Primary Caregiver', 'Partner': 'Partner', 'Other': 'Other'},
                operators: ['contains', 'is_null', 'is_not_null']
            },
            {
                id: 'survey',
                label: 'Survey',
                type: 'string',
                input: 'select',
                values: {'Child': 'Child', 'Child care center (survey)': 'Child care center (survey)', 'Couple': 'Couple' ,'Family care (survey)': 'Family care (survey)', 'Father': 'Father', 'ID Number': 'ID Number', 'In-home (observation)': 'In-home (observation)', 'In-home (survey)': 'In-home (survey)', 'Mother': 'Mother', 'Non-parental primary caregiver': 'Non-parental primary caregiver', 'Post child and family care observation': 'Post child and family care observation', 'Primary caregiver': 'Primary caregiver', 'Teacher': 'Teacher'},
                operators: ['equal', 'not_equal', 'in', 'not_in'],
                multiple: true,
                plugin: 'selectpicker'
            },
            {
                id: 'data_source',
                label: 'Data Source',
                type: 'string',
                input: 'select',
                values: {'idnum': 'idnum', 'constructed': 'constructed', 'weight': 'weight', 'questionnaire': 'questionnaire'},
                operators: ['equal', 'not_equal', 'in', 'not_in'],
                multiple: true,
                plugin: 'selectpicker'
            },
            {
                id: 'respondent',
                label: 'Respondent',
                type: 'string',
                input: 'select',
                values: {'Child': 'Child', 'Child Care Provider': 'Child Care Provider', 'Father': 'Father', 'Interviewer': 'Interviewer', 'Mother': 'Mother', 'PCG': 'PCG', 'Teacher': 'Teacher'},
                operators: ['equal', 'not_equal', 'in', 'not_in', 'is_null', 'is_not_null'],
                multiple: true,
                plugin: 'selectpicker'
            },
            {
                id: 'wave',
                label: 'Wave',
                type: 'string',
                input: 'select',
                values: {'Baseline': 'Baseline', 'Year 1': 'Year 1', 'Year 3': 'Year 3', 'Year 5': 'Year 5', 'Year 9': 'Year 9', 'Year 15': 'Year 15'},
                operators: ['equal', 'not_equal', 'in', 'not_in', 'is_null', 'is_not_null'],
                multiple: true,
                plugin: 'selectpicker'
            },
            {
                id: 'qText',
                label: 'Question Text',
                type: 'string',
                operators: ['contains']
            },
            {
                id: 'probe',
                label: 'Probe',
                type: 'string',
                operators: ['contains']
            },
        ]
    });
    $('#btn-reset').on('click', function() {
        $('#builder').queryBuilder('reset');
    });

    $('#btn-search').on('click', function() {
        var result = $('#builder').queryBuilder('getRules');

        if (!$.isEmptyObject(result)) {
            var filters = qb2apiFilter($("#builder"));
            var q = JSON.stringify({"filters": filters});
            var _url = "{{ url_for('apiv2.search_variable') }}?details=1&q="+q;
            var url = 'http://api.metadata.fragilefamilies.princeton.edu/variable?q='+q;
            $("code#code").text(url);
            $("a#code_a").attr('href', url).attr('target', '_blank');

            table.ajax.url(_url).load();
        }
    });
});
</script>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Advanced Variable Search</h2>
                <p></p>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12"><div id="builder"></div></div>
              <div class="col-md-12">
                <div class="btn-group">
                  <button id="btn-search" class="btn btn-primary parse-json" data-target="basic">Search</button>
                  <button id="btn-reset" class="btn btn-warning reset" data-target="basic">Reset</button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h2>Results</h2>
                <p></p>
                <hr>
                <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="datatable" style="margin: 20px, 0px;">
                    <thead>
                        <tr><th>Variable</th><th>Label</th><th>Topic(s)</th><th>Sub-Topic(s)</th><th>Survey</th><th>Wave</th><th>Type</th><th>Source</th><th>Focal Person</th><th>Respondent</th></tr>
                    </thead>
                    <tfoot>
                        <tr><th>Variable</th><th>Label</th><th>Topic(s)</th><th>Sub-Topic(s)</th><th>Survey</th><th>Wave</th><th>Type</th><th>Source</th><th>Focal Person</th><th>Respondent</th></tr>
                    </tfoot>
                </table>
            </div>
        </div>

        <div class="row" style="margin-bottom: 100px;">
            <div class="col-md-12">
                <h2>API Call</h2>
                <hr>
                <p>The API call for these search filters is:</p>
                <a id="code_a" href='http://api.metadata.fragilefamilies.princeton.edu/variable?q={"filters":[]}'><code id="code">http://api.metadata.fragilefamilies.princeton.edu/variable?q={"filters":[]}</code></a>
            </div>
        </div>
    </div>
{% endblock %}
