{% extends "web/ffmetadata.html" %}

{% macro selected(val, var) -%}
    {% if constraints %}
        {% if val in constraints[var] %}
            selected
        {% endif %}
    {% endif %}
{%- endmacro %}

{% macro isin(var) -%}
    {% if constraints %}
        {% if var in constraints.keys() %}
            in
        {% endif %}
    {% endif %}
{%- endmacro %}

{% block title %}Variables{% endblock %}

{% block head %}
<script>
$(document).ready(function() {
    $('.select2').select2();
});
</script>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Search variables</h2>
                <p></p>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <form action="{{ url_for('web.search')}}" method="POST">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="search-term" class="form-control" name="variable-search" placeholder="Search for..." {% if search_query %} value="{{ search_query }}" {% endif %}>
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-default">Search &#187;</button>
                            </span>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" href="#collapse_filter">
                                    Filter
                                </a>
                            </h4>
                        </div>
                        <div id="collapse_filter" class="panel-collapse collapse in" role="tabpanel">
                            <div class="panel-body">
                                {% for filt, desc in filterlabs.items() %}
                                <div class="panel panel-default">
                                    <div class="panel-heading" data-toggle="collapse" href="#collapse_{{filt}}">
                                        <a role="button">
                                            {{desc}}
                                        </a>
                                    </div>
                                    <div id="collapse_{{filt}}" class="panel-collapse collapse {{isin(filt)}}" role="tabpanel">
                                        <div class="panel-body">
                                            <select class="select2" name="{{filt}}" multiple="multiple" style="width: 100%">
                                            {% for val, lab in filtermeta[filt].items() %}
                                                <option value="{{val}}" {{selected(val, filt)}}>{{lab}}</option>
                                            {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                </form>


            </div>
            <div class="col-md-9">

                {% if results %}

                <!-- Display search results -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">Search results <span class="badge">{{results|length}}</span></h4>
                    </div>
                    <div class="table-responsive" style="padding: 1%">
                        <table id="results" class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Variable</th>
                                    <th>Description</th>
                                    <th>Topics</th>
                                    <th>Survey</th>
                                    <th>Wave</th>
                                    <th>Type</th>
                                    <th>Source</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for rvar in results %}
                                <tr>
                                    <td><a type="button" class="btn btn-primary" href="{{ url_for('web.var_page', varname = rvar.name) }}">{{rvar.name}}</button></td>
                                    <td>{{rvar.label}}</td>
                                    <td><small>{{topics[rvar.name]}}</small></td>
                                    <td><small>{{filtermeta.survey[rvar.survey]}}</small></td>
                                    <td><small>{{filtermeta.wave[rvar.wave]}}</small></td>
                                    <td><small>{{filtermeta.data_type[rvar.data_type]}}</small></td>
                                    <td><small>{{filtermeta.data_source[rvar.data_source]}}</small></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- Manipulate results (reset, copy, export)-->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">Tools</h4>
                    </div>
                    <div class="panel-body">
                        <button data-clipboard-text="{{rnames}}" class="btn btn-success"><span class="oi" data-glyph="clipboard"></span> Copy variable names</button>
                        <a href="{{ url_for('web.search') }}" role="button" class="btn btn-danger"><span class="oi" data-glyph="trash"></span> Start over </a>
                    </div>
                </div>

                {% else %}

                <p>To search variables and view associated metadata online, use the search options on the left.</p>
                <p>To query the metadata programmatically, click <em>Metadata API</em>.</p>
                <p>To download metadata for all variables as a CSV file, click <em>Download metadata</em>.</p>
                <p>If you have any comments or ideas for how to improve the metadata or this app, click <em>Feedback</em>.</p>
                <p>To learn more about the Fragile Families and Child Wellbeing Study, click <em>About FFCWS</em>.</p>

                {% endif %}

                {% if zero_found %}

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">Search results</h4>
                    </div>
                    <div class="panel-body">
                        <em>No variables found.</em>
                    </div>
                </div>

                {% endif %}

            </div>
        </div>
    </div>
{% endblock %}

{% block foot %}
    <script>
        $(document).ready(function(){
            $('#results').DataTable( {
                "searching": false,
                "lengthChange": false,
                columnDefs: [ { type: 'natural', targets: '_all' } ]
            });

            new Clipboard('.btn');
        });
    </script>
{% endblock %}
