{% extends "web/ffmetadata.html" %}

{% macro toggle(i, j) -%}
    {% if i == j %}
        btn-success
    {% endif %}
{%- endmacro %}

{% block title %}{{ var_data.name }}{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>{{ var_data.name }}</h2>
            <p class="lead">{{ var_data.label }}</p>
        </div>
    </div>

    {% if var_data.probe != None or var_data.qtext != None %}
    <div class="row">
        <div class="col-md-12">

            <!-- Variable Texts -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" href="#collapse_desc">
                            Question Text for Instrument
                        </a>
                    </h4>
                </div>
                <div id="collapse_desc" class="panel-collapse collapse in" role="tabpanel">
                    <div class="panel-body">
                        <b>Probe: </b>{{var_data.probe or 'N/A'}}<br/>
                        <b>Question Text: </b>{{var_data.qtext or 'N/A'}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <div class="row">
        <div class="col-md-4">
            <!-- Topic and survey section -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" href="#collapse_topic">
                            Topic
                        </a>
                    </h4>
                </div>
                <div id="collapse_topic" class="panel-collapse collapse in" role="tabpanel">
                    <div class="panel-body">
                        {% if var_data.topics != None %}
                            <p>
                                <span class="umbrella">{{var_data.topics}}</span>───┤ <em>{{ var_data.subtopics }}</em><br/>
                           </p>
                        {% endif %}
                        {% if var_data.scale != None %}
                        <b>Measure/Scale: </b>{{var_data.scale}}
                        {% endif %}
                    </div>
                </div>
            </div>

            <!-- Variable metadata -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" href="#collapse_filter">
                            Metadata
                        </a>
                    </h4>
                </div>
                <div id="collapse_filter" class="panel-collapse collapse in" role="tabpanel">
                    <div class="panel-body">
                        {% for f in filterlabs %}
                            {% for filt, desc in f.items() %}
                                {% if filt not in ("topic", "scale", "survey") %}
                                    {% for val, lab in filtermeta[filt].items() %}
                                        {% if var_data[filt] == val %}
                                            <span class="label label-default label-metadata" data-toggle="tooltip" data-placement="left" title="{{desc}}">{{lab}}</span><br/><br/>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                        <b>About: </b>
                        {{ var_data.focal_people_string() }}
                    </div>
                </div>
            </div>

            <!-- Data quality -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" href="#collapse_type">
                            Warnings
                        </a>
                    </h4>
                </div>
                <div id="collapse_type" class="panel-collapse collapse in" role="tabpanel">
                    <div class="panel-body">
                        {% if var_data.old_name != var_data.name %}
                        <em>The old name for this variable was <b>{{var_data.old_name}}</b>.<br/></em>
                        {% endif %}
                        {% if var_data.warning == None %}
                        <em>None</em>
                        {% else %}
                        <em> {{var_data.warning}} </em>
                        {% endif %}


                    </div>
                </div>
            </div>

            <!-- Responses -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" href="#collapse_response">
                            Response codes
                        </a>
                        <!-- TODO: Split by missing codes, substantive codes -->
                    </h4>
                </div>
                <div id="collapse_response" class="panel-collapse collapse in" role="tabpanel">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Value</th>
                                <th>Label</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for r in responses %}
                            <tr>
                                <td>{{r.value}}</td>
                                <td>{{r.label}}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-8">
            <!-- Related variables -->
            <div class="panel panel-default">
                <div id="collapse_related" class="panel-collapse collapse in" role="tabpanel">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">Similar variables <span class="badge">{{neighbors|length}}</span></h4>
                        </div>
                        <div class="table-responsive" style="padding: 1%">
                            <table id="results" class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Variable</th>
                                        <th>Description</th>
                                        <th>Topics</th>
                                        <th>Survey</th>
                                        <th>Wave</th>
                                        <th>Type</th>
                                        <th>Source</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for neighbor in neighbors %}
                                    <tr>
                                        <td><a type="button" class="btn btn-default" href="{{ url_for('web.var_page', varname = neighbor.name) }}">{{neighbor.name}}</button></td>
                                        <td>{{neighbor.label}}</td>
                                        <td><small>{{neighbor.topics}}</small></td>
                                        <td><small>{{filtermeta.survey[neighbor.survey]}}</small></td>
                                        <td><small>{{filtermeta.wave[neighbor.wave]}}</small></td>
                                        <td><small>{{filtermeta.data_type[neighbor.data_type]}}</small></td>
                                        <td><small>{{filtermeta.data_source[neighbor.data_source]}}</small></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}

{% block foot %}
    <script>
        $(document).ready(function(){
            $('#results').DataTable( {
                "searching": false,
                "lengthChange": false,
                columnDefs: [ { type: 'natural', targets: '_all' } ]
            });

            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
{% endblock %}
